# functions

cpm() {
  git checkout master
  git pull origin master
}

aws_login() {
  tsh app login --aws-role arn:aws:iam::720913919698:role/saml_dev_team tup
}

tup3_read_util() {
  tsh kube login production.red
  POD_NAME=$(kubectl get pods -n util -l role=util,app=thredup3 -o jsonpath="{.items[0].metadata.name}");
  kubectl exec -it -n util $POD_NAME -c thredup3-util -- bash
}

redshift_login() {
  tsh login --proxy=teleport-cluster.internal.thredup.com
  tsh db login --db-user=iam_read_only --db-name=prodshop tup-dw-hub
}

fire_app() {
  northflank exec service --projectId fire --serviceId fire-app
}

get_pods() {
  kubectl get pods -n selfoss -o name | grep "$1"
}

kubectl_exec() {
  kubectl exec -it -n selfoss $1 -- bash
}

stg_pod() {
  output=$(get_pods "$1")
  filtered_output=$(echo "$output" | grep "$2" | grep -v -e "sidekiq" -e "sneakers")
  echo "$filtered_output"
  kubectl_exec "$filtered_output"
}

stg_exec_tup3_pod() {
  stg_pod "$1" "thredup3"
}

stg_exec_fah_pod() {
  stg_pod "$1" "financial-accounting-hub"
}

stg_exec_pod() {
  kubectl exec -it -n selfoss $1 -- bash
}

stg_log_pod() {
  kubectl -n selfoss logs -f --tail=20 $1
}

dyn_stag_tup3() {
  cd $HOME/Documents/workspace/thredup/charts
  output=$(git branch --show-current)
  echo "$output"
  stg_exec_tup3_pod "$output"
}

dyn_stag_fah() {
  cd $HOME/Documents/workspace/thredup/charts
  output=$(git branch --show-current)
  echo "$output"
  stg_exec_fah_pod "$output"
}

gitpush() {
  output=$(git branch --show-current)
  git push origin "$output"
}

